<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
      <span [hidden]="deviceWidth < 576">
        Menu
      </span>
    </button>
    <ion-title>App Info</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>
        Version
      </ion-label>
      <ion-note item-end>
        1.1.0
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        Build Date
      </ion-label>
      <ion-note item-end>
        August 10, 2018
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        Developer
      </ion-label>
      <ion-note item-end>
        Comparatio USA
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>
