<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button ion-button clear ion-start (click)="dismiss()">
                <span ion-text color="primary" showWhen="ios">Close</span>
                <ion-icon name="md-close" showWhen="android"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            Describe your issue
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            Username
        </ion-card-header>
        <ion-card-content>
            <ion-input type="text" [(ngModel)]="modalusername" name="modalusername" clearInput="true" placeholder="Enter username" autocorrect="off" autocapitalize="none"></ion-input>
        </ion-card-content>
    </ion-card>
    <ion-card style="white-space: normal; height: auto;">
        <ion-card-header tyle="white-space: normal; height: auto;">
            Issue Description
        </ion-card-header>
        <ion-card-content style="white-space: normal; height: auto;">
            <ion-textarea type="text" id="error_description" [(ngModel)]="description" name="description" clearInput="true" placeholder="Tell us more about it" style="white-space: normal; height: auto;"></ion-textarea>
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer>
    <div id="report_error_button">
        <button ion-button block style="text-align: center;" (click)="sendErrorMessage()">Report Issue</button>
    </div>
</ion-footer>