<ion-content class="no-scroll" padding>
  
    <div showWhen="ios" style="text-align: center; margin-top: 5px; margin-bottom: 5px;">
      <ion-img style="width: 45%;" src="./assets/imgs/logo.png"></ion-img>
      <h3>REPAIR DIVISION</h3>
    </div>

    <div showWhen="android" style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
      <h2>AIR HYDRO<br>Repair Division</h2>
    </div>

    <div id="version">
      <p>v1.1.0 by</p>
      <ion-img id="companylogo" src="./assets/imgs/developer.png"></ion-img>
    </div>

    <ion-card [hidden]="deviceheight < 800"> <!-- 190px -->
      <!--
      <ion-card-header id="log_in_header">
        Login
      </ion-card-header>
      -->
      <ion-card-content [hidden]="devicewidth > 576">
          <ion-item>
            <ion-label stacked>
              Username
            </ion-label>
            <ion-input type="text" [(ngModel)]="username" name="username" clearInput="true" placeholder="Enter username" autocorrect="off" autocapitalize="none"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>
              Password
            </ion-label>
            <ion-input type="password" [(ngModel)]="password" name="password" placeholder="Enter password" autocorrect="off" autocapitalize="none"></ion-input>
          </ion-item>
          <div id="login_submit_button">
            <button ion-button block (click)="logInSubmit()" style="margin-top: 10px;">Log In</button>
          </div>
          <ion-item>
            <ion-label>
              Remember me
            </ion-label>
            <ion-toggle [(ngModel)]="rememberme"></ion-toggle>
          </ion-item>
      </ion-card-content>
      <ion-card-content [hidden]="devicewidth < 576">
          <ion-item>
            <ion-label style="width: 20%;">
              Username
            </ion-label>
            <ion-input type="text" [(ngModel)]="username" name="username" clearInput="true" placeholder="Enter username" autocorrect="off" autocapitalize="none"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label style="width: 20%;">
              Password
            </ion-label>
            <ion-input type="password" [(ngModel)]="password" name="password" placeholder="Enter password" autocorrect="off" autocapitalize="none"></ion-input>
          </ion-item>
          <div id="login_submit_button">
            <button ion-button block (click)="logInSubmit()" style="margin-top: 10px;">Log In</button>
          </div>
          <ion-item>
            <ion-label>
              Remember username & password
            </ion-label>
            <ion-toggle [(ngModel)]="rememberme"></ion-toggle>
          </ion-item>
      </ion-card-content>
    </ion-card>
  
    <ion-card [hidden]="deviceheight > 800 || deviceheight < 600"> <!-- 130px -->
      <!--
      <ion-card-header id="log_in_header">
        Login
      </ion-card-header>
      -->
      <ion-card-content [hidden]="devicewidth > 576">
          <ion-item>
            <ion-label stacked>
              Username
            </ion-label>
            <ion-input type="text" [(ngModel)]="username" name="username" clearInput="true" placeholder="Enter username" autocorrect="off" autocapitalize="none"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>
              Password
            </ion-label>
            <ion-input type="password" [(ngModel)]="password" name="password" placeholder="Enter password" autocorrect="off" autocapitalize="none"></ion-input>
          </ion-item>
          <div id="login_submit_button">
            <button ion-button block (click)="logInSubmit()" style="margin-top: 10px;">Log In</button>
          </div>
          <ion-item>
            <ion-label>
              Remember me
            </ion-label>
            <ion-toggle [(ngModel)]="rememberme"></ion-toggle>
          </ion-item>
      </ion-card-content>
      <ion-card-content [hidden]="devicewidth < 576">
          <ion-item>
            <ion-label style="width: 20%;">
              Username
            </ion-label>
            <ion-input type="text" [(ngModel)]="username" name="username" clearInput="true" placeholder="Enter username" autocorrect="off" autocapitalize="none"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label style="width: 20%;">
              Password
            </ion-label>
            <ion-input type="password" [(ngModel)]="password" name="password" placeholder="Enter password" autocorrect="off" autocapitalize="none"></ion-input>
          </ion-item>
          <div id="login_submit_button">
            <button ion-button block (click)="logInSubmit()" style="margin-top: 10px;">Log In</button>
          </div>
          <ion-item>
            <ion-label>
              Remember username & password
            </ion-label>
            <ion-toggle [(ngModel)]="rememberme"></ion-toggle>
          </ion-item>
      </ion-card-content>
    </ion-card>
  
    <ion-card [hidden]="deviceheight > 600"> <!-- 70px -->
      <!--
      <ion-card-header id="log_in_header">
        Login
      </ion-card-header>
      -->
      <ion-card-content [hidden]="devicewidth > 576">
          <ion-item>
            <ion-label stacked>
              Username
            </ion-label>
            <ion-input type="text" [(ngModel)]="username" name="username" clearInput="true" placeholder="Enter username" autocorrect="off" autocapitalize="none"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>
              Password
            </ion-label>
            <ion-input type="password" [(ngModel)]="password" name="password" placeholder="Enter password" autocorrect="off" autocapitalize="none"></ion-input>
          </ion-item>
          <div id="login_submit_button">
            <button ion-button block (click)="logInSubmit()">Log In</button>
          </div>
          <ion-item>
            <ion-label>
              Remember me
            </ion-label>
            <ion-toggle [(ngModel)]="rememberme"></ion-toggle>
          </ion-item>
      </ion-card-content>
      <ion-card-content [hidden]="devicewidth < 576">
          <ion-item>
            <ion-label style="width: 20%;">
              Username
            </ion-label>
            <ion-input type="text" [(ngModel)]="username" name="username" clearInput="true" placeholder="Enter username" autocorrect="off" autocapitalize="none"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label style="width: 20%;">
              Password
            </ion-label>
            <ion-input type="password" [(ngModel)]="password" name="password" placeholder="Enter password" autocorrect="off" autocapitalize="none"></ion-input>
          </ion-item>
          <div id="login_submit_button">
            <button ion-button block (click)="logInSubmit()" style="margin-top: 10px;">Log In</button>
          </div>
          <ion-item>
            <ion-label>
              Remember username & password
            </ion-label>
            <ion-toggle [(ngModel)]="rememberme"></ion-toggle>
          </ion-item>
      </ion-card-content>
    </ion-card>

  <div id="contact_us_link" *ngIf="failedlogin" style="text-align: center;">
    <p style="vertical-align: middle;">Having issues? <button ion-button clear (click)="createErrorMessage()" style="vertical-align: middle;">Let us know</button></p>
  </div>

</ion-content>