page-login {
  #log_in_header
  {
    text-align: center;
  }

  ion-content {
    align-items: center;
  }

  .no-scroll .scroll-content {
    overflow: hidden;
  }

  #report_error_button {
    text-align: center;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 0.5%;
  }

  #report_error_button .button {
    background-color: #4040ff;
  }

  #report_error_button .button:hover {
    background-color: #5e5eff;
  }

  #contact_us_link {
    vertical-align: middle;
    align-content: center;
  }

  #login_submit_button .button {
    background-color: #4040ff;
  }

  #companylogo {
    width: 21%;
    background: transparent;
  }

  #version {
    font-weight: 600;
    color: #949494;
    font-size: 80%;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 4px;
  }

}
