<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
      <span [hidden]="devicewidth < 576">
        Menu
      </span>
    </button>
    <ion-title>Build Order</ion-title>
    <ion-buttons end>
      <button ion-button icon-end outline (click)="pageRedirect('cart')">
        &nbsp; Cart <ion-icon name="cart"></ion-icon> &nbsp;
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <!--
    Ship to ID
    Required
  -->

    <div style="padding: 2%; vertical-align: middle; height: auto;" [hidden]="devicewidth > 576">
      <div style="width: 78%; float: left; height: auto; margin: 1%;">
        <ion-item>
          <ion-label stacked>
            Ship to ID
          </ion-label>
          <ion-input #shiptoidid type="number" pattern="[0-9]*" [(ngModel)]="shiptoid" name="shiptoid" clearInput="true" placeholder="Enter Ship to ID" (keyup.enter)="ContactID.setFocus()"></ion-input>
        </ion-item>
      </div>
      <div style="width: 18%; float: right; height: 50px; padding-right: 2%; margin: 1%;">
        <button ion-button color="light" (click)="scanCode('shiptoid')" style="text-align: center; width: 95%; height: 100%;">
          <ion-icon name="md-barcode"></ion-icon>
        </button>
      </div>
    </div>
  
    <div style="padding: 2%; vertical-align: middle; height: auto;" [hidden]="devicewidth < 576">
      <div style="width: 68%; float: left; height: 50px; margin: 1%;">
        <ion-item>
          <ion-label style="width: 20%">
            Ship to ID
          </ion-label>
          <ion-input #shiptoidid type="number" pattern="[0-9]*" [(ngModel)]="shiptoid" name="shiptoid" clearInput="true" placeholder="Enter Ship to ID here" (keyup.enter)="ContactID.setFocus()"></ion-input>
        </ion-item>
      </div>
      <div style="width: 28%; float: right; height: 50px; padding-right: 2%; margin: 1%;">
        <button ion-button color="light" (click)="scanCode('shiptoid')" style="text-align: center; width: 95%; height: 100%;">
          <ion-icon name="md-barcode"></ion-icon><p>&nbsp; Scan Ship to ID</p>
        </button>
      </div>
    </div>

  <!--
    Contact ID
    Not required
  -->

    <div style="padding: 2%; vertical-align: middle; height: auto;" [hidden]="devicewidth > 576">
      <div style="width: 78%; float: left; height: auto; margin: 1%;">
        <ion-item>
          <ion-label stacked>
            Contact ID
          </ion-label>
          <ion-input #contactidid type="number" pattern="[0-9]*" [(ngModel)]="contactid" name="contactid" clearInput="true" placeholder="Enter Contact ID" (keyup.enter)="PONumber.setFocus()"></ion-input>
        </ion-item>
      </div>
      <div style="width: 18%; float: right; height: 50px; padding-right: 2%; margin: 1%;">
        <button ion-button color="light" (click)="scanCode('contactid')" style="text-align: center; width: 95%; height: 100%;">
          <ion-icon name="md-barcode"></ion-icon>
        </button>
      </div>
    </div>
  
    <div style="padding: 2%; vertical-align: middle; height: auto;" [hidden]="devicewidth < 576">
      <div style="width: 68%; float: left; height: 50px; margin: 1%;">
        <ion-item>
          <ion-label style="width: 20%">
            Contact ID
          </ion-label>
          <ion-input #contactidid type="number" pattern="[0-9]*" [(ngModel)]="contactid" name="contactid" clearInput="true" placeholder="Enter Contact ID here" (keyup.enter)="PONumber.setFocus()"></ion-input>
        </ion-item>
      </div>
      <div style="width: 28%; float: right; height: 50px; padding-right: 2%; margin: 1%;">
        <button ion-button color="light" (click)="scanCode('contactid')" style="text-align: center; width: 95%; height: 100%;">
          <ion-icon name="md-barcode"></ion-icon><p>&nbsp; Scan Contact ID</p>
        </button>
      </div>
    </div>

  <!--
    PO Number
    Not required
  -->
    <div style="padding: 2%; vertical-align: middle; height: auto;" [hidden]="devicewidth > 576">
      <div style="width: 78%; float: left; height: auto; margin: 1%;">
        <ion-item>
          <ion-label stacked>
            PO Number
          </ion-label>
          <ion-input #ponumberid type="text" [(ngModel)]="ponumber" name="ponumber" clearInput="true" placeholder="Enter PO Number" (keyup.enter)="TagID.setFocus()"></ion-input>
        </ion-item>
      </div>
      <div style="width: 18%; float: right; height: 50px; padding-right: 2%; margin: 1%;">
        <button ion-button color="light" (click)="scanCode('ponumber')" style="text-align: center; width: 95%; height: 100%;">
          <ion-icon name="md-barcode"></ion-icon>
        </button>
      </div>
    </div>

    <div style="padding: 2%; vertical-align: middle; height: auto;" [hidden]="devicewidth < 576">
      <div style="width: 68%; float: left; height: 50px; margin: 1%;">
        <ion-item>
          <ion-label style="width: 20%">
            PO Number
          </ion-label>
          <ion-input #ponumberid type="text" [(ngModel)]="ponumber" name="ponumber" clearInput="true" placeholder="Enter PO Number here" (keyup.enter)="TagID.setFocus()"></ion-input>
        </ion-item>
      </div>
      <div style="width: 28%; float: right; height: 50px; padding-right: 2%; margin: 1%;">
        <button ion-button color="light" (click)="scanCode('ponumber')" style="text-align: center; width: 95%; height: 100%;">
          <ion-icon name="md-barcode"></ion-icon><p>&nbsp; Scan PO Number</p>
        </button>
      </div>
    </div>

  <!--
    Tag ID (Item ID)
    Required
  -->

  <div style="padding: 2%; vertical-align: middle; height: auto;" [hidden]="devicewidth > 576">
    <div style="width: 78%; float: left; height: auto; margin: 1%;">
      <ion-item>
        <ion-label stacked>
          Tag ID
        </ion-label>
        <ion-input #tagidid type="text" [(ngModel)]="tagid" name="tagid" clearInput="true" placeholder="Enter Tag ID" (keyup.enter)="Quantity.setFocus()"></ion-input>
      </ion-item>
    </div>
    <div style="width: 18%; float: right; height: 50px; padding-right: 2%; margin: 1%;">
      <button ion-button color="light" (click)="scanCode('tagid')" style="text-align: center; width: 95%; height: 100%;">
        <ion-icon name="md-barcode"></ion-icon>
      </button>
    </div>
  </div>

  <div style="padding: 2%; vertical-align: middle; height: auto;" [hidden]="devicewidth < 576">
    <div style="width: 68%; float: left; height: 50px; margin: 1%;">
      <ion-item>
        <ion-label style="width: 20%">
          Tag ID
        </ion-label>
        <ion-input #tagidid type="text" [(ngModel)]="tagid" name="tagid" clearInput="true" placeholder="Enter Tag ID here" (keyup.enter)="Quantity.setFocus()"></ion-input>
      </ion-item>
    </div>
    <div style="width: 28%; float: right; height: 50px; padding-right: 2%; margin: 1%;">
      <button ion-button color="light" (click)="scanCode('tagid')" style="text-align: center; width: 95%; height: 100%;">
        <ion-icon name="md-barcode"></ion-icon><p>&nbsp; Scan Tag ID</p>
      </button>
    </div>
  </div>

  <!--
    Quantity
    Required
  -->

  <div style="padding: 2%; vertical-align: middle; height: auto;" [hidden]="devicewidth > 576">
    <div style="width: 96%; float: left; height: auto; margin: 1%;">
      <ion-item>
        <ion-label stacked>
          Quantity
        </ion-label>
        <ion-input #quantityid type="number" pattern="[0-9]*" [(ngModel)]="quantity" name="quantity" clearInput="true" placeholder="Enter quantity" (keyup.enter)="ExtDesc.setFocus()"></ion-input>
      </ion-item>
    </div>
  </div>

  <div style="padding: 2%; vertical-align: middle; height: auto;" [hidden]="devicewidth < 576">
    <div style="width: 96%; float: left; height: 50px; margin: 1%;">
      <ion-item>
        <ion-label style="width: 14.16%">
          Quantity
        </ion-label>
        <ion-input #quantityid type="number" pattern="[0-9]*" [(ngModel)]="quantity" name="quantity" clearInput="true" placeholder="Enter quantity here" (keyup.enter)="ExtDesc.setFocus()"></ion-input>
      </ion-item>
    </div>
  </div>

  <!--
    Extended Description
    Not required
  -->

  <div style="padding: 2%; vertical-align: middle; height: auto;" [hidden]="devicewidth > 576">
      <div style="width: 96%; float: left; height: auto; margin: 1%;">
        <ion-item>
          <ion-label stacked>
            Extended Description
          </ion-label>
          <ion-input #extdescid type="text" [(ngModel)]="extdesc" name="extdesc" clearInput="true" placeholder="Enter any additional info"></ion-input>
        </ion-item>
      </div>
    </div>
  
    <div style="padding: 2%; vertical-align: middle; height: auto;" [hidden]="devicewidth < 576">
      <div style="width: 96%; float: left; height: 50px; margin: 1%;">
        <ion-item>
          <ion-label style="width: 14.16%">
            Ext. Descr.
          </ion-label>
          <ion-input #extdescid type="text" [(ngModel)]="extdesc" name="extdesc" clearInput="true" placeholder="Enter any additional info"></ion-input>
        </ion-item>
      </div>
    </div>

  <div id="help_button_container">
    <button ion-button clear style="text-align: center;" (click)="openModal()">
      Help &nbsp; <ion-icon name="help-circle"></ion-icon>
    </button>
  </div>
</ion-content>

<ion-footer>
  <div id="add_to_cart_button">
    <button ion-button block style="text-align: center;" (click)="addToCart()">Add To Cart</button>
  </div>
</ion-footer>