<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button ion-button clear ion-start (click)="dismiss()">
                <span ion-text color="primary" showWhen="ios">Close</span>
                <ion-icon name="md-close" showWhen="android"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            Order Form Info
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item text-wrap>
            <h2 style="padding-top: 2px;">
                Ship to ID
            </h2>
            <p>
                About: It is the ID of the entity to whom item is being shipped.
            </p>
            <h4 style="color: #a90000;">
                <b>Req: It accepts only numbers (digits 0-9). Cannot be longer than 11 digits</b>.
            </h4>
        </ion-item>
        <ion-item text-wrap>
            <h2 style="padding-top: 2px;">
                Contact ID
            </h2>
            <p>
                About: It is the contact ID of the requesting individual.
            </p>
            <h4 style="color: #a90000;">
                Req: It accepts only numbers (digits 0-9). Cannot be longer than <b>10 digits</b>.
            </h4>
        </ion-item>
        <ion-item text-wrap>
            <h2 style="padding-top: 2px;">
                PO Number
            </h2>
            <p>
                About: It is the purchase order number.
            </p>
            <h4 style="color: #a90000;">
                Req: It accepts only text.
            </h4>
        </ion-item>
        <ion-item text-wrap>
            <h2 style="padding-top: 2px;">
                Tag ID
            </h2>
            <p>
                About: It is the item/product identifier.
            </p>
            <h4 style="color: #a90000;">
                <b>Req: It accepts only text. Cannot be blank.</b>
            </h4>
        </ion-item>
        <ion-item text-wrap>
            <h2 style="padding-top: 2px;">
                Quantity
            </h2>
            <p>
                About: It is the quantity of the particular item.
            </p>
            <h4 style="color: #a90000;">
                <b>Req: It accepts only numbers (digits 0-9). Cannot be blank.</b>
            </h4>
        </ion-item>
        <ion-item text-wrap>
            <h2 style="padding-top: 2px;">
                Extended Description
            </h2>
            <p>
                About: It any additional description you wish to provide.
            </p>
            <h4 style="color: #a90000;">
                Req: It accepts only text.
            </h4>
        </ion-item>
    </ion-list>
</ion-content>