page-order {

  ion-footer {
    background-color: #f9f9f9;
  }

  /*
  ion-content {
    margin-bottom: 5%;
    padding-bottom: 10%;
    position: relative;
  }
  */

  #add_to_cart_button {
    text-align: center;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 0.5%;
  }

  #add_to_cart_button .button {
    background-color: #4040ff;
  }

  #add_to_cart_button .button:hover {
    background-color: #5e5eff;
  }

  #help_button_container {
    text-align: center;
    vertical-align: middle;
  }

}
