page-cart {

  #checkout_button {
    background-color: #4040ff;
  }

  #inactive_checkout_button {
    background-color: #7171ff;
  }

  a {
    text-decoration: none;
  }

  #item_info {
    text-align: left;
    word-break: break-all;
    width: 100%;
  }

  #item_delete {
    width: 100%;
    text-align: center;
  }
}
