<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
      <span [hidden]="deviceWidth < 576">
        Menu
      </span>
    </button>
    <ion-title>My Cart</ion-title>
    <ion-buttons end>
      <button ion-button icon-end outline showWhen="ios" [hidden]="orderList.length == 0" (click)="sendAsMail('ios')">
        <ion-icon ios="ios-mail-outline" md="md-mail"></ion-icon> &nbsp; Send&nbsp;
      </button>
      <button ion-button icon-end outline showWhen="android" [hidden]="orderList.length == 0" (click)="sendAsMail('android')">
        <ion-icon ios="ios-mail-outline" md="md-mail"></ion-icon> &nbsp; Send&nbsp;
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar placeholder="Search in cart" (ionInput)="filterCartItems($event)"></ion-searchbar>
  </ion-toolbar>

  <ion-list *ngIf="orderList.length > 0">
    <ion-item *ngFor="let item of orderList">
        <div id="item_info">
          <p>
            Ship to ID: <b>{{ item[0] }}</b><br>
            Contact ID: <b>{{ item[1] }}</b><br>
            PO Number: <b>{{ item[2] }}</b><br>
            Tag ID: <b>{{ item[3] }}</b><br>
            Quantity: <b>{{ item[4] }}</b><br>
            Ext Descr: <b>{{ item[5] }}</b><br>
          </p>
        </div>
        <div id="item_delete">
          <a href="#" (click)="confirmDelete(item[6])">
            Remove &nbsp;<ion-icon name="trash"></ion-icon>
          </a>
        </div>
    </ion-item>
  </ion-list>

  <p *ngIf="orderList.length == 0" style="padding: 5%; text-align: center;">
    No items in your cart yet.
  </p>
</ion-content>

<ion-footer style="display: inline;">
  <button ion-button color="light" (click)="addMore()" style="float: left; width: 48%; margin-left: 1%; margin-top: 0.5%; margin-bottom: 0.5%">
    <ion-icon name="add"></ion-icon>&nbsp; ADD MORE
  </button>
  <button id="checkout_button" [hidden]="orderList.length == 0" (click)="confirmCheckout(true)" ion-button style="float: right; width: 48%; margin-right: 1%; margin-top: 0.5%; margin-bottom: 0.5%">
    SUBMIT
  </button>
  <button id="inactive_checkout_button" [hidden]="orderList.length > 0" (click)="confirmCheckout(false)" ion-button style="float: right; width: 48%; margin-right: 1%; margin-top: 0.5%; margin-bottom: 0.5%">
    SUBMIT
  </button>
</ion-footer>
