page-profile {

    #logout_button {
      text-align: center;
      width: 100%;
      padding-left: 2%;
      padding-right: 2%;
      padding-bottom: 0.5%;
    }
    
    #logout_button .button {
      background-color: #4040ff;
    }
    
    #logout_button .button:hover {
      background-color: #5e5eff;
    }

}
