<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
      <span [hidden]="devicewidth < 576">
        Menu
      </span>
    </button>
    <ion-title>Profile</ion-title>
    <ion-buttons end [hidden]="devicewidth < 576">
      <button ion-button icon-end outline (click)="logout()">
        &nbsp; Log Out <ion-icon name="log-out"></ion-icon> &nbsp;
      </button>
    </ion-buttons>
  </ion-navbar>
  
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-list-header>
      Personal Info
    </ion-list-header>
    <ion-item>
      <ion-label>
        Username
      </ion-label>
      <ion-note item-end style="width: 70%; text-align: right;">
        {{ username }}
      </ion-note>
    </ion-item>

    <ion-list-header>
      Contact Info
    </ion-list-header>
    <ion-item>
      <ion-label>
        Email
      </ion-label>
      <ion-note item-end style="width: 70%; text-align: right; font-size: 100%;">
        {{ email }}
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer [hidden]="devicewidth > 576">
  <div id="logout_button">
    <button ion-button block style="text-align: center;" (click)="logout()"> <ion-icon name="log-out"></ion-icon> &nbsp; Log Out</button>
  </div>
</ion-footer>
