<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
      <span [hidden]="deviceWidth < 576">
        Menu
      </span>
    </button>
    <ion-title>Past Orders</ion-title>
    <ion-buttons end>
      <button ion-button icon-end outline (click)="pageRedirect('order')">
        &nbsp; New <ion-icon name="add"></ion-icon> &nbsp;
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!--
  <ion-refresher (ionRefresh)="refreshOrderList($event)">
    <ion-refresher-content
      pulling-icon="arrow-dropdown"
      pulling-text="Pull to refresh"
      refreshingSpinner="ios-small"
      refreshingText="Fetching latest orders">
    </ion-refresher-content>
  </ion-refresher>
-->
<div id="ion-cards" *ngIf="orders.length > 0">
  <ion-card *ngFor="let order of orders">
    <ion-card-header>
      Order for {{ order[2] }} items confirmed.
    </ion-card-header>
    <ion-card-content>
      {{ order[1] }}
    </ion-card-content>
  </ion-card>
</div>
<div id="blank-ion-card" *ngIf="orders.length == 0" style="text-align: center;">
  <p>
    No completed orders yet.
  </p>
</div>

</ion-content>

<ion-footer>
  <div style="text-align: center;">
    <button ion-button round (click)="refreshPage()" color="secondary" style="margin: 1%; margin-bottom: 1.3%;">
      Refresh &nbsp; <ion-icon name="refresh"></ion-icon>
    </button>
  </div>
</ion-footer>
