<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>My Air Hydro RD</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <div style="display: inline; vertical-align: middle;">
          <ion-icon [name]="p.icon" style="vertical-align: middle; width: 7%;"></ion-icon> &nbsp;
          <h2 style="display: inline; vertical-align: middle; padding-left: 3%;">{{p.title}} &nbsp; </h2>
          <!--<button id="cartsize" color="danger" *ngIf="itemsincart.length > 0 && p.icon == 'cart'">-->
          <button id="cartsize" color="danger" *ngIf="cartSize > 0 && p.icon == 'cart'">
            {{ cartSize }}
          </button>
          <ion-icon md="md-arrow-forward" style="float: right;"></ion-icon>
        </div>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="true"></ion-nav>
