// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-footer {
    padding-bottom: constant(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-top);
}

#cartsize {
    display: inline;
    vertical-align: middle;
    font-weight: bold;
    font-size: 85%;
    color: #ffffff;
    background-color: #f53d3d;
    border-radius: 30%;
    padding: 1.5%;
    min-width: 15%;
}